
# dependencies
/node_modules

# testing
/coverage

# production
/build

.DS_Store
build/static/media/pic_morentx.d09372f2.png
build/service-worker.js
build/manifest.json
build/index.html
build/favicon.ico
build/asset-manifest.json
build/static/media/pic_morentx.d09372f2.png
build/service-worker.js
build/manifest.json
build/index.html
build/favicon.ico
build/asset-manifest.json
