div.priceItems{
    width: 3.595rem;
  height: 1.265rem;
  margin: .15rem auto;
  background-image: url(../../img/bg_kuang_kuangji.png);
  background-size: 100%;
  div{
    flex-grow: 1; /* default 0 */
  }
  div.price{
      line-height: .75rem;
      text-indent: .35rem;
      color: #ffde00;
  }
  div.items{
      color: white;
      padding-top: .35rem;
      p{
          line-height: .3rem;
      }
  }
}
ul.deal_tab{
    width: 3.09rem;
    height: .365rem;
    border: .01rem solid #00a8ff;
    border-radius: .5rem;
    margin: 0 auto;
    li{
        flex-grow: 1; /* default 0 */
        text-align: center;
        a{
            display: inline-block;
            width: 100%;
            height: 100%;
            color: white;
            line-height: .365rem;
            background: linear-gradient(to right,/* 或90deg */rgba(255, 255, 255, .3) 80%, transparent 0);  
            background-size: .0275rem 100%;  
        }
    }
    li:first-child{
        a{
            border-top-left-radius: .5rem;
            border-bottom-left-radius: .5rem;
        }
    }
    li:last-child{
        a{
            border-top-right-radius: .5rem;
            border-bottom-right-radius: .5rem;
        }
    }
    li.active{
        a{
            background: linear-gradient(to right,/* 或90deg */rgba(255, 255, 255, .075) 80%, transparent 0); 
            background-size: .0275rem 100%;  
        }
    }
}
ul.guadanTab{
    width: 100%;
    height: .935rem;
    background-color: #031d59;
    // background: linear-gradient(to right,/* 或90deg */rgba(255, 255, 255, .075) 50%, transparent 0);  
    // background-size: .03rem 100%;    
    border-top: .01rem solid #00a8ff; 
    border-bottom: .01rem solid #00a8ff; 
    // position: fixed;
    // left: 0;
    // bottom: .65rem;
    // z-index: 99;
    li{
        flex-grow: 1;
        height: .935rem;
        text-align: center;
        img{
            width: .35rem;
            height: .36rem;
            margin: .2rem auto 0;
        }
        a{
            display: block;
            width: 100%;
            height: 100%;
            color: white;
        }
    }
    li:nth-child(2){
        border-left: .01rem solid #00a8ff;
    }
}
/*点对点*/
.ptpFrom{
    padding: 0 .4rem;
    ul{
        flex-direction: column;
        li{
            height: .48rem;
            line-height: .48rem;
            font-size: .12rem;
            border-bottom: .01rem solid #00a8ff;
            span{
                display: inline-block;
                width: .95rem;
                color: #00a8ff;
            }
            input{
                border: none;
                height: .3rem;
                line-height: .3rem;
            }
            input[placeholder], [placeholder], *[placeholder] {   
                color: rgba(255, 255, 255, .3) !important;
            } 
            ::-webkit-input-placeholder { /* WebKit browsers */
                color: rgba(255, 255, 255, .3) !important;
            }
        }
    }
}
ul.dealItems{
    flex-direction: column;
    padding: 0 .15rem;
    margin-top: .15rem;
    li{
        padding: .19rem .27rem .11rem;
        border: .01rem solid #00a8ff;
        border-radius: .05rem;
        background: linear-gradient(to right,/* 或90deg */rgba(255, 255, 255, .075) 50%, transparent 0);  
        background-size: .03rem 100%;  
        margin-top: .15rem;
        span.btn{
            width: .9rem;
            margin: 0 auto;
        }
    }
}
.records, .dealItems{
    li{
        span.btn{
            height: .24rem;
            line-height: .24rem;
            color: rgb(255, 255, 0);
            border: .01rem solid rgb(255, 255, 0);
            border-radius: .12rem;
            background-color: rgba(255, 255, 0, .3);
            // margin: 0 auto;
        }
    }
}
//交易记录  我的买单 我的卖单
.dealRecords{
    width: 3.35rem;
    height: 2.12rem;
    border-radius: .1rem;
    margin: .1rem auto;
    position: relative;
    ul.tabs{
        flex-direction: row;
        width: 100%;
        height: .4rem;
        border-bottom: .01rem solid #00a8ff;
        position: absolute;
        top: 0;
        left: 0;
        li{
            flex-grow: 1;
            color: white;
            font-size: .14rem;
            text-align: center;
            a{
                display: inline-block;
                height: .39rem;
                line-height: .39rem;
            }
        }
        li.active{
            color: #00a8ff;
            a{
                border-bottom: .015rem solid #00a8ff;
            }
        }
    }
    ul.records{
        flex-direction: column;
        padding: 0 .2rem;
        overflow: hidden;
        li{
            flex-grow: 1;
            border-bottom: .01rem solid #00a8ff;
            padding: .1rem;
            position: relative;
            a{
                display: block;
                width: 100%;
                height: 100%;
                p{
                    line-height: .2rem;
                }
               
            }
            span.btn{
                width: .8rem;
                position: absolute;
                right: 0;
                bottom: .1rem;
            }
        }
    }
}
/*弹窗*/
.dlgPayKj{
    width: 3.025rem;
    height: 1.735rem;
    background-image: url(../../img/bg_tankuang.png);
    margin-left: -1.5225rem;
    margin-top: -1rem;
}
.dlgPayPwd{
    width: 3.025rem;
    height: 2.035rem;
    background-image: url(../../img/bg_mima.png);
    margin-left: -1.5225rem;
    margin-top: -1rem;
    input {
        color: white;
    }
}
.dialog{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
    left: 50%;
    top: 50%;
    .dlg_tit{
        font-size: .18rem;
        text-indent: .5rem;
        height: .37rem;
        line-height: .4rem;
    }
    a.btn_close{
        display: block;
        width: .22rem;
        height: .22rem;
        position: absolute;
        top: .15rem;
        right: .11rem;
    }
    .dlg_form{
        padding: .05rem .275rem;
        p{
            margin: .2rem 0;
        }
        input{
            width: 100%;
            height: .29rem;
            float: left;
            margin-bottom: .1rem;
        }
        span.btn{
            width: .775rem;
            height: .275rem;
            text-align: center;
            line-height: .275rem;
            border-left: .005rem solid rgb(255, 255, 0);
            background-color: #253970;
            position: relative;
        }
        span.btn::after{
            content: "";
            width: 0; 
            height: 0; 
            border-top: .08rem solid #151d2e; 
            border-left: .08rem solid transparent; 
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    .fgtTradepass{
        overflow: hidden;
        width: 100%;
        margin-bottom: .1rem;
        span{
            float: right;
        }
    }
}
/*挂单*/
.guadanItems{
    text-align: center;
    padding: 0 .18rem;
    margin-top: .2rem;
    text-align: center;
    .tip{
        border: .01rem dashed #00a8ff;
        border-radius: .05rem;
        background: linear-gradient(to right,/* 或90deg */rgba(255, 255, 255, .075) 50%, transparent 0);  
        background-size: .03rem 100%;  
        text-align: center;
        height: .3rem;
        line-height: .3rem;
    }
    .price_adjust{
        div.unit_price{ /*单价*/
            display: -webkit-flex;
            display: flex; 
            height: .365rem;
            line-height: .365rem;
            padding: 0 .2rem;
            div{
                width: 2.19rem;
                border: .01rem solid #00a8ff;
                border-radius: .5rem;
                margin: 0 .1rem;
                position: relative;
            }
            .price_opt{
                display: inline-block;
                width: .415rem;
                height: .355rem;
                line-height: .3rem;
                background: linear-gradient(to right,/* 或90deg */rgba(255, 255, 255, .075) 90%, transparent 0);  
                background-size: .03rem 100%;  
                position: absolute;
                top: 0;
            }
            .price_opt.price_down{
                left: 0;
                border-top-left-radius: .5rem;
                border-bottom-left-radius: .5rem;
            }
            .price_opt.price_up{
                right: 0;
                border-top-right-radius: .5rem;
                border-bottom-right-radius: .5rem;
            }
            input.price_ipt{
                height: .335rem;
                width: 1.36rem;
                color: white;
                text-align: center;
                border: none;
                position: absolute;
                left: .415rem;
                top: 0;
                margin: 0 !important;
            }
        }
        .draft_opt{
            height: .025rem;
            border-radius: .025rem;
            background-color: #a8c7e2;
            margin-top: .2rem;
            padding: 0 .2rem;
            position: relative;
            .circle{
                display: inline-block;
                width: .16rem;
                height: .16rem;
                border-radius: .08rem;
                background-color: white;
                box-shadow:0 0 .025rem white;
                position: absolute;
                top: -.08rem;
                left: .1rem;
                z-index: 100;
            }
        }
        input{
            width: .71rem;
            height: .26rem;
            line-height: .3rem;
            border-radius: .05rem;
            margin: .2rem 0 .15rem;
        }
        .notice{
            a{
                color: rgba($color: #ffffff, $alpha: .4);
                img{
                    width: .13rem;
                    height: .13rem;
                    margin-right: .05rem;
                    vertical-align: text-top;
                }
            }
            
        }
    }
}