div.priceItems{
  height: 2.57rem;
  background-image: url(../../img/head_bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  div{
    flex-grow: 1; /* default 0 */
  }
  div.price{
      line-height: .75rem;
      text-indent: .35rem;
      color: #ffde00;
  }
  div.items{
      color: white;
      padding-top: .35rem;
      p{
          line-height: .3rem;
      }
  }
}
ul.deal_tab{
    width: 3.09rem;
    height: .365rem;
    border: .01rem solid #3c82ff;
    border-radius: .5rem;
    margin: 0 auto;
    li{
        flex-grow: 1; /* default 0 */
        text-align: center;
        margin-top: -.01rem;
        a{
            display: inline-block;
            width: 100%;
            height: .365rem;
            line-height: .365rem;
            color: #3c82ff;
        }
    }
    li:first-child{
        a{
            border-top-left-radius: .5rem;
            border-bottom-left-radius: .5rem;
        }
    }
    li:last-child{
        a{
            border-top-right-radius: .5rem;
            border-bottom-right-radius: .5rem;
        }
    }
    li.active{
        a{
            border: .01rem solid #3c82ff;
            background-color: #3c82ff;
            color: white;
        }
    }
}
ul.guadanTab{
    width: 3.5rem;
    height: .935rem;
    margin: .2rem auto 0;
    li{
        width: 1.8rem;
        height: .935rem;
        text-align: center;
        border-radius: .15rem;
        i{
            display: block;
            width: .3rem;
            height: .27rem;
            background-size: 100% 100%;
            margin: .2rem auto .1rem;
        }
        a{
            display: block;
            width: 100%;
            height: 100%;
            color: white;
        }
    }
    li:nth-child(1){
        background: linear-gradient(left, #ffa25a, #ff5e76);
        background: -webkit-linear-gradient(left, #ffa25a, #ff5e76);
        background: -o-linear-gradient(left, #ffa25a, #ff5e76);
        background: -moz-linear-gradient(left, #ffa25a, #ff5e76);
    }
    li:nth-child(2){
        margin-left: .1rem;
        background: linear-gradient(left, #4da4ff, #8e79ff);
        background: -webkit-linear-gradient(left, #4da4ff, #8e79ff);
        background: -o-linear-gradient(left, #4da4ff, #8e79ff);
        background: -moz-linear-gradient(left, #4da4ff, #8e79ff);
    }
}
/*点对点*/
.ptpFrom{
    width: 3.09rem;
    margin: .1rem auto 0;
    background-color: #fff;
    padding: 0 .2rem .1rem;
    ul{
        flex-direction: column;
        li{
            height: .48rem;
            line-height: .48rem;
            font-size: .12rem;
            border-bottom: .01rem dashed #ddd;
            span{
                display: inline-block;
                width: .95rem;
                color: #5a5a5a;
            }
            input{
                border: none;
                height: .3rem;
                line-height: .3rem;
            }
        }
    }
}
ul.dealItems{
    flex-direction: column;
    padding: 0 .15rem;
    margin-top: .15rem;
    li{
        padding: .11rem .27rem;
        background-color: #fff;
        margin-top: .15rem;
        span.btn{
            width: .9rem;
            margin-top: .1rem;
        }
    }
}
.records, .dealItems{
    li{
        span.btn{
            height: .24rem;
            line-height: .24rem;
            color: white;
            border-radius: .12rem;
            background-color: #3c82ff;
        }
    }
}
//交易记录  我的买单 我的卖单
.dealRecords{
    width: 3.35rem;
    height: 2.12rem;
    background-color: white;
    margin: .1rem auto;
    position: relative;
    ul.tabs{
        flex-direction: row;
        width: 100%;
        height: .4rem;
        border-bottom: .01rem solid #ddd;
        position: absolute;
        top: 0;
        left: 0;
        li{
            flex-grow: 1;
            font-size: .14rem;
            text-align: center;
            a{
                display: inline-block;
                height: .39rem;
                line-height: .39rem;
            }
        }
        li.active{
            color: #3c82ff;
            a{
                border-bottom: .015rem solid #3c82ff;
            }
        }
    }
    ul.records{
        flex-direction: column;
        padding: 0 .2rem;
        overflow: hidden;
        li{
            flex-grow: 1;
            border-bottom: .01rem dashed #ddd;
            padding: .1rem;
            position: relative;
            a{
                display: block;
                width: 100%;
                height: 100%;
                p{
                    line-height: .2rem;
                }
               
            }
            span.btn{
                width: .8rem;
                position: absolute;
                right: 0;
                bottom: .1rem;
            }
        }
    }
}
/*弹窗*/
.dlgPayKj, .dlgPayPwd{
    width: 3.22rem;
    height: 2.84rem;
    background-image: url(../../img/bg_tankuang.png);
    margin-left: -1.5225rem;
    margin-top: -1.42rem;
}
.dialog{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
    left: 50%;
    top: 50%;
    input {
        border: .01rem solid #ddd;
    }
    a.btn_close{
        display: block;
        width: .22rem;
        height: .22rem;
        position: absolute;
        top: .5rem;
        right: .1rem;
    }
    .dlg_form{
        padding: 1.2rem .5rem;
        p{
            text-align: center;
        }
        input{
            width: 100%;
            height: .29rem;
            float: left;
            text-indent: .1rem;
            margin-bottom: .05rem;
            border: .01rem solid #ddd;
        }
        .optWrap{
            flex-direction: row;
            line-height: .6rem;
            width: 94%;
            position: absolute;
            left: .1rem;
            bottom: .2rem;
            span{
                flex-grow: 1;
                display: block;
                text-align: center;
            }
        }
    }
    .fgtTradepass{
        overflow: hidden;
        width: 100%;
        margin-bottom: .1rem;
        span{
            float: right;
        }
    }
}
/*挂单*/
.guadanItems{
    text-align: center;
    background-color: white;
    padding: .2rem .18rem;
    margin-top: .2rem;
    text-align: center;
    .tip{
        border: .01rem dashed #666;
        border-radius: .05rem;
        text-align: center;
        height: .3rem;
        line-height: .3rem;
    }
    .price_adjust{
        div.unit_price{ /*单价*/
            display: -webkit-flex;
            display: flex; 
            height: .365rem;
            line-height: .365rem;
            padding: 0 .2rem;
            div{
                width: 2.19rem;
                border: .01rem solid #fda100;
                border-radius: .5rem;
                margin: 0 .1rem;
                position: relative;
            }
            .price_opt{
                display: inline-block;
                width: .415rem;
                height: .355rem;
                line-height: .355rem;
                background-color: #fda100;
                position: absolute;
                top: -.01rem;
            }
            .price_opt.price_down{
                left: 0;
                border-top-left-radius: .5rem;
                border-bottom-left-radius: .5rem;
            }
            .price_opt.price_up{
                right: 0;
                border-top-right-radius: .5rem;
                border-bottom-right-radius: .5rem;
            }
            input.price_ipt{
                height: .335rem;
                width: 1.36rem;
                color: white;
                text-align: center;
                border: none;
                position: absolute;
                left: .415rem;
                top: 0;
                margin: 0 !important;
            }
        }
        .draft_opt{
            height: .025rem;
            border-radius: .025rem;
            background-color: #a8c7e2;
            margin-top: .2rem;
            padding: 0 .2rem;
            position: relative;
            .circle{
                display: inline-block;
                width: .16rem;
                height: .16rem;
                border-radius: .08rem;
                background-color: white;
                box-shadow:0 0 .025rem white;
                position: absolute;
                top: -.08rem;
                left: .1rem;
                z-index: 100;
            }
        }
        input{
            width: .71rem;
            height: .26rem;
            line-height: .3rem;
            border-radius: .05rem;
            margin: .2rem 0 .15rem;
        }
    }
    span.btn{
        width: 1rem;
        height: .3rem;
        text-align: center;
        line-height: .3rem;
        color: white;
        background-color: #3c82ff;
        border-radius: .2rem;
    }
}
.dlgMsg{  //买家信息 卖家信息
    width: 3rem;
    height: 2.5rem;
    background-color: white;
    border-radius: .05rem;
    margin-left: -1.5rem;
    margin-top: -1.25rem;
    .btn_close{
        top: .1rem;
        right: .05rem;
    }
    ul{
        flex-direction: column;
        li{
            flex-grow: 1;
            line-height: .3rem;
        }
    }
}